<!DOCTYPE html>
<html lang="en">

    <head>
          <title>Help</title>
        <link rel="icon" href="/images/weather(1).png">

        <link rel="stylesheet" href="/css/style.css" />
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>help file</p>
        </div>

        {{>footer}}
    </body>

</html>